---
layout: default
---
<style>
  body {
    background-color: #171515;
    color: #00ffcc; 
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .typewriter h1 {
    position: relative; /* For cursor positioning */
    font-family: Monospace;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.015em;
    color: #0099cc; 
    overflow: hidden;
  }

  .typewriter h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.015em; /* Adjust to align the cursor with text */
    border-right: .015em solid orange;
    height: 1.2em; /* Adjust to match font size */
    animation: blink-caret .75s step-end infinite;
  }

  h2 {
    color: #0099cc;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes deleting {
    from { width: 100% }
    to { width: 0 }
  }

  @keyframes continuousTypingDeleting {
    0%, 100% {
      width: 0;
      visibility: hidden;
    }
    50% {
      width: 100%;
      visibility: visible;
    }
  }

  /* Slower blinking animation */
  @keyframes blink-caret {
    from, to {
      opacity: 0;
    }
    25%, 75% {
      opacity: 1;
    }
  }
</style>


<div class="typewriter">
  <h1>Blogs</h1>
</div>


<script>
  const typewriter = document.querySelector('.typewriter h1');
  typewriter.style.animation = 'continuousTypingDeleting 8s infinite'; // Adjust the duration as needed
</script>

<div class="home">
  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
  {%- endif -%}

  {{ content | markdownify }}


  {% if site.paginate %}
    {% assign rawposts = paginator.posts %}
  {% else %}
    {% assign rawposts = site.posts %}
  {% endif %}

  <!-- Hide posts if front matter flag hide:true -->
  {% assign posts = ''|split:'' %}
  {% for post in rawposts %}
    {% if post.hide != true %}
      {% assign posts = posts|push:post%}
    {% endif %}
  {% endfor %}

  <!-- Sort posts by rank, then date -->
  {% assign grouped_posts = posts | group_by: "sticky_rank" | sort: "name", "last" %}
  {% assign sticky_posts = ''|split:'' %}
  {% assign non_sticky_posts = '' | split:'' %}

 
  {% for gp in grouped_posts %}
    {%- if gp.name == "" -%}
      {% assign non_sticky_posts = gp.items | sort: "date" | reverse %}
    {%- else %}
      {% assign sticky_posts = sticky_posts | concat: gp.items %}
    {%- endif -%}
  {% endfor %}

   <!-- Assemble final sorted posts array -->
  {% assign sticky_posts = sticky_posts | sort: "sticky_rank", "last" %}
  {% assign posts = sticky_posts | concat: non_sticky_posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <li>
        {%- include post_list.html -%}
        </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate and site.posts.size > site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>